################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Singapi.Workflows/bin/Debug
/Singapi.Workflows/obj/Debug
/Tests/Singapi.Workflows.Tests/bin/Debug
/Tests/Singapi.Workflows.Tests/obj/Debug
